@width:         960px;
@menu-width:    240px;
@categ-height:  30px;
@middle-width:  @width - @menu-width;
@padding:       15px;
@form-width:    @middle-width - 2*@padding - 100px;
@header-height: 90px;

* { 
  padding: 0; margin: 0; } 
body{
  font-family: corbel, 'lucida grande', helvetica, sans-serif;
  font-size: 16px;
  color: #212122;
  margin: auto; }
a:hover { 
  cursor: pointer; }

#wrap  { 
  width: @width; 
  margin: 0 auto; }
#header { 
  width: @middle-width - 2*@padding;
  margin-left: @menu-width;
  position: fixed; 
  background: white; 
  padding: @padding; 
  border-bottom: 1px solid #212122; 
  opacity: 0.90;
  top: 0px;
  .header-left  { float: left;  }
  .header-right { float: right; }
  .header-clear { clear: both;  }
  h1 { font-size: 35px; letter-spacing: -1px; color: #000; }
  h1 a { color: #3B8FE9; text-decoration: none; }
  h1 a:hover { color: #000; }
  h2 { letter-spacing: -1px; padding: 0 0 0 16px; 
       font-size: 20px; color: #000; padding-left: 120px; 
       font-style: italic; }
} 
#headermenu { display: none; }

.left { 
  width: @menu-width - 2*@padding;
  padding: 0px @padding;
  font-size: 14px;
  position: fixed;
  #writings {
    padding-top: @header-height - @categ-height;
    .category-label { 
      line-height: @categ-height - 2*4px;
      display: block; 
      padding: 2px 0px; 
      margin: 10px 0px 5px 0px;
      font-size: 20px;
      border-bottom: 1px dashed black; }
    ul { list-style: none; padding-left: 0px; }
    ul li { padding-top: 3px; }
    ul li.current { font-weight: bold; }
    a, .left a:visited {
      text-decoration: none;
      color: #212122; }
    a:hover {
      color: #A30600;
      font-weight: bold; }
  }
}

/** 800 + 2*15 = 830 */
.middle { 
  width: @middle-width - 2*@padding;
  padding: @padding; 
  padding-left: @menu-width + @padding;
  text-align: justify; 
  margin-bottom: 120px;
  line-height: 1.3em;

  article { 
    padding-top: @header-height; }
  h1 {
    padding: 10px 0px; 
    font-size: 30px;
    text-align: left;
    line-height: 1.3em; }
  h2 { 
    padding-top: 20px;
    font-size: 20px; }
  h3 {
    padding-top: 15px;
    font-size: 16px; }
  h2 a, h2 a:visited, h3 a,  h3 a:visited {
    color: #212122; text-decoration: none; }
  h2 a:hover, h3 a:hover {
    color: #A30600; text-decoration: underline; }

  header .date { text-align: right; }

  img { display:block; margin:auto; padding: 25px 0px; text-align: center; }
  p, ul, ol, pre, table { padding: 15px 0px 0px 0px;}
  ul, ol { padding-left: 45px;}
  ul li, ol li { padding-top: 5px; }
  a, a:visited { color: #A30600; text-decoration: none; }
  a:hover { text-decoration: underline; }

  table {padding-left: 20px;}
  table tr td {padding: 3px 10px 3px 0px;}
  table tr td { vertical-align: top; text-align: justify;}

  blockquote {
    text-align: justify;
    padding: 0px 80px;
    font-style: italic; }

  .highlight pre {
    padding: 10px;
    margin: 20px;
    background: #111111;
    font-size: 15px;
    color: white;
    overflow: hidden; }
}

#leave-a-comment {
  width: @form-width;
  margin: auto;
  label, input, textarea {
    display: block;
    padding: 2px; }
  input, textarea {
    margin-left: 25px;
    width: @form-width - @padding; }
  label {
    margin-top: 10px;
    margin-bottom: 5px; }
  textarea {
    height: 200px; }
  .button {
    margin-top: 10px;
    width: 100px;
    display: inline; }
  .feedback {
    font-size: 1.1em;
    font-weight: bold;
    display: inline; }
  .feedback p {
    display: inline;
    padding: 0px 5px; }
  .feedback p.ok {
    color: green;
    margin-top: 5px;
    margin-left: 15px;
    display: block; }
  .feedback p.ko {
    color: red; }
}
