body {
  font-family: corbel, 'lucida grande', helvetica, sans-serif;
  font-size: 20px;
  color: #212122;
  margin: auto;
  padding: 30px 70px;
}
a:hover { cursor: pointer; }
h1 {
  font-size: 40px;
  text-align: left;
  margin-bottom: 20px;
  color: #3b8fe9;
}
nav { font-size: 18px; }
nav h1 { color: #e00000; }
nav h2 { font-size: 18px; }
nav ul li { padding-top: 4px; }
article {
  font-size: 18px;
  line-height: 1.55em;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}
article ul li {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
article blockquote {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
article blockquote p {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
article blockquote em {
  font-style: normal;
}
article h2 { padding-top: 20px; }
article h3 { padding-top: 15px; }
article h2 a {
  color: #212122;
  text-decoration: none;
}
article h2 a:visited {
  color: #212122;
  text-decoration: none;
}
article h3 a {
  color: #212122;
  text-decoration: none;
}
article h3 a:visited {
  color: #212122;
  text-decoration: none;
}
article h2 a:hover {
  color: #a30600;
  text-decoration: underline;
}
article h3 a:hover {
  color: #a30600;
  text-decoration: underline;
}
article header .date { font-weight: bold; }
article header img { display: inline; }
article header iframe { display: inline; }
article header h1 { margin-bottom: 20px; }
article header .twitter { text-align: right; }
article img {
  display: block;
  margin: auto;
  padding: 25px 0px;
  text-align: center;
}
article p { padding: 5px 0px 0px 0px; }
article ul { padding: 5px 0px 0px 0px; }
article ol { padding: 5px 0px 0px 0px; }
article pre { padding: 5px 0px 0px 0px; }
article table { padding: 5px 0px 0px 0px; }
article ul { padding-left: 45px; }
article ol { padding-left: 45px; }
article ul li { padding-top: 5px; }
article ol li { padding-top: 5px; }
article a {
  color: #a30600;
  text-decoration: none;
}
article a:visited {
  color: #a30600;
  text-decoration: none;
}
article a:hover { text-decoration: underline; }
article table { padding-left: 20px; }
article table tr td { padding: 3px 10px 3px 0px; }
article table tr td { vertical-align: top; }
article code { font-size: 16px; }
article pre { font-size: 16px; }
article blockquote {
  color: inherit;
  font-family: inherit;
  padding: 0px 80px;
  font-style: italic;
  border: none;
}
article blockquote code {
  padding: 0px;
  color: inherit;
  white-space: nowrap;
  background-color: white;
  border: none;
  font-size: 17px;
  font-family: inherit;
  font-style: normal;
}
article blockquote p {
  font-size: 17px;
  line-height: 1.55em;
}
article .highlight pre {
  padding: 10px;
  margin: 20px;
  background: #111111;
  font-size: 16px;
  color: white;
  overflow: hidden;
  line-height: 20px;
}
#leave-a-comment {
  width: 590px;
  margin: auto;
}
#leave-a-comment label {
  display: block;
  padding: 2px;
}
#leave-a-comment input {
  display: block;
  padding: 2px;
}
#leave-a-comment textarea {
  display: block;
  padding: 2px;
}
#leave-a-comment input {
  margin-left: 25px;
  width: 575px;
}
#leave-a-comment textarea {
  margin-left: 25px;
  width: 575px;
}
#leave-a-comment label {
  margin-top: 10px;
  margin-bottom: 5px;
}
#leave-a-comment textarea { height: 200px; }
#leave-a-comment .button {
  margin-top: 10px;
  width: 100px;
  display: inline;
}
#leave-a-comment .feedback {
  font-size: 1.1em;
  font-weight: bold;
  display: inline;
}
#leave-a-comment .feedback p {
  display: inline;
  padding: 0px 5px;
}
#leave-a-comment .feedback p.ok {
  color: green;
  margin-top: 5px;
  margin-left: 15px;
  display: block;
}
#leave-a-comment .feedback p.ko { color: red; }
