body {
  font-family: corbel, 'lucida grande', helvetica, sans-serif;
  font-size: 16px;
  color: #212122;
  margin: auto;
  padding: 30px 50px;
}
a:hover {
  cursor: pointer;
}
h1 {
  font-size: 40px;
  text-align: left;
  margin-bottom: 20px;
  color: #3B8FE9;
}
#writings h1 {
  color: #E00000;
}
article {
  text-align: justify;
  font-size: 18px;
}
article h2 {
  padding-top: 20px;
  font-size: 20px;
}
article h3 {
  padding-top: 15px;
  font-size: 16px;
}
article h2 a,
article h2 a:visited,
article h3 a,
article h3 a:visited {
  color: #212122;
  text-decoration: none;
}
article h2 a:hover,
article h3 a:hover {
  color: #A30600;
  text-decoration: underline;
}
article header .date {
  font-weight: bold;
}
article header img,
article header iframe {
  display: inline;
}
article header h1 {
  margin-bottom: 20px;
}
article header .twitter {
  text-align: right;
}
article img {
  display: block;
  margin: auto;
  padding: 25px 0px;
  text-align: center;
}
article p,
article ul,
article ol,
article pre,
article table {
  padding: 15px 0px 0px 0px;
}
article ul,
article ol {
  padding-left: 45px;
}
article ul li,
article ol li {
  padding-top: 5px;
}
article a,
article a:visited {
  color: #A30600;
  text-decoration: none;
}
article a:hover {
  text-decoration: underline;
}
article table {
  padding-left: 20px;
}
article table tr td {
  padding: 3px 10px 3px 0px;
}
article table tr td {
  vertical-align: top;
  text-align: justify;
}
article blockquote {
  font-size: 18px;
  text-align: justify;
  padding: 0px 80px;
  font-style: italic;
  border: none;
}
article blockquote code {
  padding: 0px;
  color: inherit;
  white-space: nowrap;
  background-color: white;
  border: none;
}
article .highlight pre {
  padding: 10px;
  margin: 20px;
  background: #111111;
  font-size: 13px;
  color: white;
  overflow: hidden;
  line-height: 15px;
}
#leave-a-comment {
  width: 590px;
  margin: auto;
}
#leave-a-comment label,
#leave-a-comment input,
#leave-a-comment textarea {
  display: block;
  padding: 2px;
}
#leave-a-comment input,
#leave-a-comment textarea {
  margin-left: 25px;
  width: 575px;
}
#leave-a-comment label {
  margin-top: 10px;
  margin-bottom: 5px;
}
#leave-a-comment textarea {
  height: 200px;
}
#leave-a-comment .button {
  margin-top: 10px;
  width: 100px;
  display: inline;
}
#leave-a-comment .feedback {
  font-size: 1.1em;
  font-weight: bold;
  display: inline;
}
#leave-a-comment .feedback p {
  display: inline;
  padding: 0px 5px;
}
#leave-a-comment .feedback p.ok {
  color: green;
  margin-top: 5px;
  margin-left: 15px;
  display: block;
}
#leave-a-comment .feedback p.ko {
  color: red;
}
